html { font-size: 62.5%;}

* {
    box-sizing: border-box;
}

body{
     font-family: 'Roboto', sans-serif;
     background: url(https://previews.123rf.com/images/seamartini/seamartini1611/seamartini161100889/67683598-fast-food-background-seamless-pattern-with-vector-flat-icons-of-cheeseburger-pizza-burrito-french-fr.jpg);
     display: flex;
     flex-direction: column;
     align-items: center;
}

h1, p, #summit-button { 
    text-align: center;
}
 
h1 {
    font-size: 4rem;
}


#title {
    color: #FF774D;
}

#title-div {
    background-color: #F3D9A0;
    width: 35%;
    height: 5.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}



form {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 1.9rem;
    width: 75%;
    height: 75%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2.5rem;
    background-color: #F3D9A0;
}



#description, #description1 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #FF774D;
}

#explanation {
    text-align: center;
}


.justify-end {
    justify-self: end;
}

#name, #email, #number {
    height: 2.5rem;
    width: 20rem;
    border-radius: 0.5rem;
}

select {
    height: 2.5rem;
    width: 12.5rem;
    border-radius: 0.5rem;
}

#rate {
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
}

.column {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
    justify-self: center;
}

.text-aling {
    text-align: right;
}

span {
    font-size: 1.5rem;
}

button {
    height: 5rem;
    width: 10rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    background-color: #FF774D;
}

textarea {
    width: 100%;
    height: 100%;
    border-radius: 0.5px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
}

  @media screen and (max-width: 1000px) and (min-width: 768px) {

  }

  @media screen and (min-width: 1001px) {

  }
  

  