html { font-size: 62.5%;}

* {
    box-sizing: border-box;
}

body{
     font-family: 'Roboto', sans-serif;
     background: url(https://previews.123rf.com/images/seamartini/seamartini1611/seamartini161100889/67683598-fast-food-background-seamless-pattern-with-vector-flat-icons-of-cheeseburger-pizza-burrito-french-fr.jpg);
     display: flex;
     flex-direction: column;
     align-items: center;
}

#title-div {
    background-color: #f3d9a0;
    text-align: center;
    width: 35%;
    height: 5.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  #title {
    color: #ff774d;
  }


form {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.9rem;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2.5rem;
    background-color: #f3d9a0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


 #pepe {
    font-size: 2.0rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.displayflex {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#label-div {
    text-align: end;
}

#explanation {
    width: 80%;
    height: auto;
    text-align: center;
}

#visit {
    position: relative;
    margin: 0 auto;
    left: 22rem;
}

#div-div {
    width: 26.019rem;
    height: 7.4rem;
}

#description, #visit {
    font-size: 2.3rem;
    font-weight: 600;
    color: #ff774d;
} 

#name,
#email,
#number {
height: 2.5rem;
width: 20rem;
border-radius: 0.5rem;
}

.move {
width: 25rem;
height: 2.5rem;
}

#input-div {
    margin-left: 1%;
}

.height-27{
    width: 100%;
    height: 2.7rem;
}

select {
    width: 14rem;
    height: 2.7rem;
    border-radius: 0.5rem;
}

#p1 {
    width: 100%;
    height: 9.6rem;
    position: relative;
    /* top: 4rem; */
}

#p2 {
    width: 100%;
    height: 19.6rem;
}

span {
    font-size: 1.2rem;
    font-weight: 200;
}

#rate1 {
    width: 100%;
    height: 4.8rem;
}

#rate {
    width: 8rem;
    height: 2.7rem;
    border-radius: 0.5rem;
}

#textarea {
    width: 25rem;
    height: 10rem;
}

#txt-div {
    margin-top: 1.5em;
}

#text-label {
    width: 100%;
    height: 15.5rem;
}

button {
    height: 5rem;
    width: 10rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    background-color: #ff774d;
  }

  #summit-button {
      position: relative;
      bottom: 5rem;
      margin-bottom: -2rem;
  }

.down {
    position: relative;
    top: 0.5rem;
} 


@media screen and (max-width: 767px) and (min-width: 320px) {
}

  @media screen and (max-width: 1000px) and (min-width: 768px) {
    html {font-size: 50%;}
 
    #title-div {
        width: 50%;
    }

    #visit {
        position: relative;
        margin: 0 auto;
        left: 16rem;
    }
    
    #div-div {
        width: 26.02rem;
        height: 8rem;
    }

  }

  @media screen and (min-width: 1001px) {

  }


