html { font-size: 62.5%;}

* {
    box-sizing: border-box;
}

body{
     font-family: 'Roboto', sans-serif;
     background: url(https://raw.githubusercontent.com/sergio-lantigua/Survey-page/flexbox1/Img/food.jpg?token=AMMYWGBXJU5VMGDDWNVFULC5JWJ5A);
     display: flex;
     flex-direction: column;
     align-items: center;
}

#title-div {
    background-color: #f3d9a0;
    text-align: center;
    width: 35%;
    height: 5.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  #title {
    color: #ff774d;
  }


form {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.9rem;
    width: 70%;
    height: 100%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2.5rem;
    background-color: #f3d9a0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.column-div {
    display: flex;
    flex-direction: column;
}

.left-div {
    width: 50%;
    text-align: right;
}

.right-div {
    width: 50%;
    margin-left: 1rem;
}


#explanation {
    text-align: center;
}



#description, #visit {
    font-size: 2.3rem;
    font-weight: 600;
    color: #ff774d;
}

#name,
#email,
#number {
height: 2.5rem;
width: 20rem;
border-radius: 0.5rem;
}


#input-div {
    margin-left: 1%;
}



select {
    width: 14rem;
    height: 2.7rem;
    border-radius: 0.5rem;
}


#rate {
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
  }

  span {
    font-size: 1.5rem;
  }

  textarea {
    width: 25rem;
    height: 10rem;
    border-radius: 0.5px;
  }

#summit-button {
    padding-bottom: 2rem;
}

button {
    height: 5rem;
    width: 10rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    background-color: #ff774d;
  }





@media screen and (max-width: 767px) and (min-width: 320px) {
    html { font-size: 45%;}

    #title-div {
        background-color: #f3d9a0;
        width: 70%;
        height: 5.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }

      form {
        border-radius: 0 0 1.5rem 1.5rem;
      }

      h1 {
        font-size: 2.3rem;
        text-decoration: underline;
      }
        
    .flex-div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .left-div {
        width: 100%;
        text-align: left;
        margin-bottom: 1.5rem;
    }
    
    .right-div {
        width: 100%;
    }
    
select {
    width: 15rem;
    height: 2.7rem;
    border-radius: 0.5rem;
}


#rate {
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.5rem;
  }
}

  @media screen and (max-width: 1000px) and (min-width: 768px) {
        html { font-size: 50%;}

        select {
            width: 18rem;
            height: 2.7rem;
            border-radius: 0.5rem;
        }
        
        
        #rate {
            height: 2.5rem;
            width: 7rem;
            border-radius: 0.5rem;
          }

          h1 {
            font-size: 2.5rem;
          }

  }

  @media screen and (min-width: 1001px) {

  }


